html{
    box-sizing: border-box;

}

#container {
    height: 650px;
    width: 500px;
    background-color: #6C6868;
    margin: auto;
    border-radius: 2%;
    box-shadow: 10px 10px 5px #3b3b3b;
    padding: 37.5px;
    box-sizing: border-box;
}

#display {
    height: 100px;
    width: 100%;
    margin: 0px auto 37.5px auto;
    display: flex;
    justify-content: center;
}

.numDisplay {
    flex: 1;
    border: solid 2px black;
    background-color: #5c6b28;
}

#buttons {
    display: flex;
    margin: 10px auto 0px auto;
    flex-wrap: wrap;
    gap: 10px;
}

#functions {
    display: flex;
    gap: 10px;
}

#functions button{
    flex: 1 0 auto;
}

button{
    flex: 1 0 auto;
    height: 79.5px;
    width: 86px;
    border: 0;
    padding: 0;
    border-radius: 5%;
    background-color: #faebd7;
}

.equal {
    background-color: #e5771e;
}

.backspace {
    font-size: 40px;
    padding-bottom: 14px;
}